
.hand{
    cursor: pointer;
}

pre {
    background: black;
    color: white;
}

.edittextarea{
    height: 550px;
    resize: none;
}

.error-text {
    color: red;
}

.success-text{
    color: green;
}

.middleheader{
    background-color: grey;
    font-size: larger;
    font-weight: bold;
    align-self: center;
}

.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}

